*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:Before the Rainbow;
    src:url(./Font/Before\ the\ Rainbow.otf)
}

@font-face{
    font-family:ShantellSans-VariableFont;
    src: url(./Font/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}

@font-face {
    font-family: Gluten-VariableFont;
    src: url(./Font/Gluten-VariableFont_slnt\,wght.ttf);
}  

body{
    background-color: #f5efeb;
    
}

.navbar{
    display:flex ;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px 20px;
    gap: 10px;
    width: 100%;

}

.logo-text{
    font-family:Before the Rainbow ;
}

.logo-img{
    width:60px ;
    height:60px;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li{
    list-style:none;
    margin-top: 20px;
    margin-right: 60px;
    font-family:Gluten-VariableFont ;
    
}


.button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family:Gluten-VariableFont ;

}

        

.button .action-btn{
    padding: 10px;
    border-radius: 20px;
    background-color: #dca2a2;
    color: bisque;
    scale: 0.95;
}

.button .action-btn:hover{
    scale: 1.1;

}
.navbar a{
    text-decoration: none;
}

.navbar a:hover{
    color: sandybrown;
}

.Home{
    color: #C75B7A;

}

.Contact-us{
    color:#C75B7A;
}

.About-us{
    color: #C75B7A;

}


/* Main */

.Hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.hero-text h1{
    width: 400px;
    font-family:Before the Rainbow;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    text-align-last:center;
    line-height: 60px;
}

.hero-text h1 span{

    background: linear-gradient(90deg, #d6cfa5,#efc0c6,#add0c8);
    background-clip: text;
    color: transparent;

}

.hero-text p{
    width: 600px;
    font-family: ShantellSans-VariableFont;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: justify;
    padding: 10px;

}

.hero-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-img img{
   width: 450px;
   height: 400px;

}


.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item{
    height: 380px;
    width: 245px;
    background-color: #F4D9D0;
    border: 2px solid #C75B7A ;
    border-radius: 10px;
    margin: 30px 0;

}
.bread-img img{
    
    width: 200px;
    height: 150px;
    border-radius: 9px;
    margin: 20px 20px;

}

.pastry-img img{
    width: 200px;
    height: 130px;
    border-radius: 9px;
    margin: 20px 20px;

}

.cake-img img{
    width: 130px;
    height: 150px;
    border-radius: 9px;
    margin: 10px 55px;
}

.cookie-img img{
    width: 150px;
    height: 150px;
    border-radius: 9px;
    margin:10px 45px;
}



.subject{
    font-weight: bolder;
    font-family: ShantellSans-VariableFont ;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;

}

.lorem{
    font-family:verdana;
    line-height:15px;
    color: #757070;
    font-size: 14px;
    margin: 0 10px;
    margin-top: 6px;
    margin-bottom: 20px;
    text-align: center;
}


.Visit-menu-btn{
    background-color:#b36a81;
    color: #e0d1d1;
    margin: 15px 66px;
    padding:  7px 10px;
    border: 2px solid #dca2a2;
    border-radius: 5px;
    text-decoration: none;
    font-family:Gluten-VariableFont;
}

.Visit-menu-btn:hover{
    color: #e6c06c;
    text-decoration: none;
}

.Visit-menu-cookie{
    background-color:#b36a81;
    color: #e0d1d1;
    margin: 10px 60px;
    padding:  7px 10px;
    border: 2px solid #dca2a2;
    border-radius: 5px;
    text-decoration: none;
    font-family:Gluten-VariableFont ;
}

.Visit-menu-cookie:hover{
    color: #e6c06c;
    text-decoration: none;

}


@media(max-width:1080px){
    .Hero{
        display: flex;
        flex-wrap: wrap;
    }
    .hero-text h1{
        font-size:24px;
    }
    .hero-text p{
        font-size:14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
}
