*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:Before the Rainbow;
    src:url(./Font/Before\ the\ Rainbow.otf)
}

@font-face{
    font-family:Glow-Bloom-Demo;
    src: url(./Font/Glow\ Bloom\ DEMO.ttf);
}

@font-face {
    font-family: Gluten-VariableFont;
    src: url(./Font/Gluten-VariableFont_slnt\,wght.ttf);
}  


body{
    background-color: #F1D3CE;

}

.navbar{
    display:flex ;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px 20px;
    gap: 10px;
    width: 100%;

}

.logo-text{
    font-family:Before the Rainbow ;
}

.logo-img{
    width:60px ;
    height:60px;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li{
    list-style:none;
    margin-top: 20px;
    margin-right: 60px;
    font-family:Gluten-VariableFont ;
    
}


.button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family:Gluten-VariableFont ;
}

.button .action-btn{
    padding: 10px;
    border-radius: 20px;
    background-color: #F05A7E;
    color: bisque;
    scale: 0.95;
}

.button .action-btn:hover{
    scale: 1.1;

}

.navbar a{
    text-decoration: none;
}

.navbar a:hover{
    color:#d6b0b0;
}

.Home{
    color: #F05A7E;

}

.Contact-us{
    color: #F05A7E;
}

.About-us{
    color: #F05A7E;

}


/* Main */

.content{
    flex-wrap: wrap;
    width: 100%;
    display:flex ;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

.item{
   font-family:Glow-Bloom-Demo;
   border: 2px solid #c57684;
   background-color: #F8EDED;
   margin: 20px;
   border-radius: 5px;
   width: 220px;
   height: 300px;
}

.img img{
    width: 200px;
    height: 150px;
    padding: 10px;
}

.price{
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    background-color: #aa8e83;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 45px;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
    
    
}

.para{
    font-family: serif;
    color: #696a69;
    font-size: 14px;
    display: inline-block;
    width: 180px;

}

.button-cart{
    font-family:Glow-Bloom-Demo;
    text-decoration: none;
    color: #e21d4b;
    background-color: #F1D3CE;
    border: 1.5px solid #F05A7E;
    padding: 5px;
    border-radius: 5px;

}

.button-cart:hover{
    scale: 1.05;
    color:#4d3145;

}


.subject{
    font-size: 2rem;
    margin-bottom: 10px;
}

.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

.Oatmeal img{
    width: 120px;

}

hr { 
    background-color:#F05A7E;
     height: 1px;
      border: 0;
}

.Text-about{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
    border: 3px solid #e21d4b;
    background-color: #F8EDED;
    padding: 40px;
    border-radius: 20px;


}

.text{
    padding-left: 30px;
    font-family: Gluten-VariableFont;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.text-about-title{
    font-family: Glow-Bloom-Demo;
    text-align-last: center;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    height: 400px;
    border-right: 2px solid #e21d4b ;
}

@media (max-width:798px) {
    .text-about-title{
        font-size: 14px;
    }
    .Text-about{
        width: 500px;
    }


}